.sectionTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  &.sectionBorderBottom {
    border-bottom: 1px solid $gray-500 !important;
  }

  .sectionTitleText {
    h2 {
      font-size: 24px;
      text-transform: capitalize;
      margin: 0;
      line-height: 1;
      letter-spacing: 0.25px;
      color: $black;
      @include media-breakpoint-only(xs) {
        font-size: 17px;
      }
      i {
        position: relative;
        top: 2px;
        margin-right: 14px;
      }
    }
  }

  .sectionTitleAction {
    a {
      font-size: 13px;
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #666666;
      padding: 0 0 2px;
      color: $gray-700;
      line-height: 1;
      transition: all 0.5s ease-in-out;
      &:hover {
        text-decoration: none;
        color: $primary;
        border-bottom: 1px solid $primary;
      }
    }
  }
}
