@import "./core/variables";
@import "./core/spacing";

.toggle-caret-0 {
  &::after {
    display: none !important;
  }
}

.object-fit-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cursor-default {
  cursor: default !important;
}
