$primary: #6f50a7;

$theme-colors: (
  "primary": $primary,
  "danger": #ff4136,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: $spacer * 3.25,
  7: $spacer * 3.5,
  8: $spacer * 4,
  9: $spacer * 4.25,
  10: $spacer * 4.5,
);

$sizes: (
  25: 25%,
  30: 30%,
  50: 50%,
  75: 75%,
  90: 90%,
  100: 100%,
  auto: auto,
  "100vh": 100vh,
);
